#root {
  background-color: #0A0A0A;
  margin: 0 auto;
  padding: 2rem;
  padding-top: 0rem;
  text-align: center;
  color: white;
}


@media screen and (max-width: 600px) {
  #root {
    padding: 0rem;
  }
}
